* {
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    background-image: url("media/background.jpg");
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Fuzzy Bubbles', cursive;
}

header {
    font-size: 50px;
}

.rewards {
    display: flex;
    flex-wrap: wrap;
    width: 50%;
    min-height: 50px;
}

.output {
    display: flex;
    justify-content: space-around;
}

.guess, .guessWin, .guessNormal, .guessLose {
    background-color: rgb(174, 194, 201);
    width: 150px;
    height: 80px;
    margin-left: 20px;
    font-size: 50px;
    padding: 10px 5px 5px;
    border-radius: 5%;
}

.guessWin {
    box-shadow: rgb(255, 252, 82) 0px 25px 50px -12px;;
}

.guessNormal {
    box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
}

.guessLose {
    box-shadow: rgb(255, 0, 0) 0px 25px 50px -12px;
}

input {
    width: 100px;
    height: 50px;
    font-size: 30px;
    border-radius: 5%;
}

form {
    display: flex;
    flex-direction: row;
    align-items: center;
}

@media all and (orientation:portrait) {
    header {
        font-size: 20px;
    }

    .output {
       display: flex;
       flex-direction: column;
       align-items: center;
    }

    .guess, .guessWin, .guessNormal, .guessLose {
        margin-top: 30px;
        width: 75px;
        height: 40px;
        font-size: 25px;
    }

    input {
        width: 50px;
        height: 25px;
        font-size: 15px;
        
    }
  }